body {
     font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom, #142d4c, #38598b);
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1px;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height:60px;
    width: 80%;
    background: #222831;
    border-radius: 10px;
    position: relative;
}
.logo{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-left: 10px;
}
.logo2{
    margin-right: 10px;
    background:#3b3f44;
    padding: 10px;
    border-radius: 10px;
}
.ex{
    color: white;
    position: absolute;
    left:60px;
    top:20px;
}
.bar2 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px; 
    color: white;
}

.cont-right {
    display: flex;
    gap: 20px;
    margin-left: 200px; 
    align-items: center;
}

.p2, .p3 {
    text-align: center;
    margin: 0;
    background: #222831;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}